<div class="d-flex justify-content-between align-items-center">
  <% if @trip.venues.include?(venue) %>
  <%= simple_form_for @trip.trip_venue(venue),
  url: trip_venue_path(@trip.trip_venue(venue)),
  method: :delete, remote: true do |f| %>

  <%= f.input :query, as: :hidden, input_html: { class: 'card-query' } %>
  <%= f.submit 'Retirer', class: 'remove-venue', id: "venue-#{venue.id}" %>
  <% end %>

  <%#= link_to "Remove", trip_venue_path(venue, params: {trip_id: @trip.id}), method: :delete, remote: true, class: 'remove-venue', id: "venue-#{venue.id}" %>
  <% else %>
  <%= simple_form_for TripVenue.new,
  url: trip_venues_path(params: {trip_id: @trip.id, venue_id: venue.id}),
  method: :post, remote: true do |f| %>

  <%= f.input :query, as: :hidden, input_html: { class: 'card-query' } %>
  <%= f.submit 'Ajouter', class: 'add-venue', id: "venue-#{venue.id}" %>
  <% end %>

  <%#= link_to "+", trip_venues_path(params: {trip_id: @trip.id, venue_id: venue.id}), method: :post, remote: true, class: 'add-venue', id: "venue-#{venue.id}" %>
  <% end %>
  <%= link_to 'Détails', venue_path(venue), class: 'see-more-info'  %>
</div>
