<h1>Venues List</h1>

<% venues.each do |venue| %>
  <%= venue.name  %>
  <% if @trip.venues.include?(venue) %>
    <%= link_to "Remove", trip_venue_path(venue, params: {trip_id: @trip.id}), method: :delete, remote: true %>
  <% else %>
    <%= simple_form_for TripVenue.new, remote: true do |f| %>
      <%= f.input :trip_id, as: :hidden, input_html: {value: @trip.id} %>
      <%= f.input :venue_id, as: :hidden, input_html: {value: venue.id} %>
      <%= f.submit "Add" %>
    <% end %>
  <% end %>
<% end %>
