<!-- Venues List -->

<% venues.sort.each do |venue| %>
<div class="venue-card"
                        data-lng="<%= venue.longitude %>"
                        data-lat="<%= venue.latitude %>">

<div class="venue-details">
  <h2><%= venue.name  %></h2>
  <p class="venue-address"><%= venue.address %></p>
  <% if venue.category == "Plage" %>
    <i class="fas fa-umbrella-beach"></i>
  <% elsif venue.category == "Culture" %>
    <i class="fas fa-archway"></i>
  <% elsif venue.category == "Foret" %>
    <i class="fas fa-hiking"></i>
  <% elsif venue.category == "Parc" %>
    <i class="fas fa-tree"></i>
  <% elsif venue.category == "Velo" %>
    <i class="fas fa-bicycle">
  <% elsif venue.category == "Vues" %>
    <i class="fas fa-binoculars">
  <% else %>
    <i class="fas fa-map"></i>
  <% end %>

  <div class="venue-action" data-id="<%= venue.id %>" data-turbolinks="false">
    <%= render "trips/card_action_buttons", venue: venue %>
  </div>
</div>
<% if venue.photos.attached? %>
<% venue.photos.each do |photo| %>
<%= cl_image_tag photo.key %>
<% end %>
<% else %>
<%= image_tag('venue-img.jpg') %>
<% end %>
</div>
<% end %>

