<!-- Venues List -->
<% venues.sort.each do |venue| %>
<div class="venue-card" data-id="<%= venue.id %>"
                        data-lng="<%= venue.longitude %>"
                        data-lat="<%= venue.latitude %>">

<div class="venue-details">
  <h2><%= venue.name  %></h2>
  <p class="venue-address"><%= venue.address %></p>
  <% if venue.category == "Plage" %>
    <i class="fas fa-umbrella-beach"></i>
  <% elsif venue.category == "Culture" %>
    <i class="fas fa-archway"></i>
  <% elsif venue.category == "Foret" %>
    <i class="fas fa-hiking"></i>
  <% elsif venue.category == "Parc" %>
    <i class="fas fa-tree"></i>
  <% elsif venue.category == "Velo" %>
    <i class="fas fa-bicycle">
  <% elsif venue.category == "Vues" %>
    <i class="fas fa-binoculars">
  <% else %>
    <i class="fas fa-map"></i>
  <% end %>

  <div class="venue-action">
    <% if @trip.venues.include?(venue) %>
    <%= simple_form_for @trip.trip_venue(venue),
    url: trip_venue_path(@trip.trip_venue(venue)),
    method: :delete, remote: true do |f| %>

    <%= f.input :query, as: :hidden, input_html: { class: 'card-query' } %>
    <%= f.submit 'Retirer', class: 'remove-venue', id: "venue-#{venue.id}" %>
    <% end %>

    <%#= link_to "Remove", trip_venue_path(venue, params: {trip_id: @trip.id}), method: :delete, remote: true, class: 'remove-venue', id: "venue-#{venue.id}" %>
    <% else %>
    <%= simple_form_for TripVenue.new,
    url: trip_venues_path(params: {trip_id: @trip.id, venue_id: venue.id}),
    method: :post, remote: true do |f| %>

    <%= f.input :query, as: :hidden, input_html: { class: 'card-query' } %>
    <%= f.submit 'Ajouter', class: 'add-venue', id: "venue-#{venue.id}" %>
    <% end %>

    <%#= link_to "+", trip_venues_path(params: {trip_id: @trip.id, venue_id: venue.id}), method: :post, remote: true, class: 'add-venue', id: "venue-#{venue.id}" %>
    <% end %>
  </div>
</div>
<% if venue.photos.attached? %>
<% venue.photos.each do |photo| %>
<%= cl_image_tag photo.key %>
<% end %>
<% else %>
<%= image_tag('venue-img.jpg') %>
<% end %>
</div>
<% end %>

