<!-- Venues List -->
<% venues.each do |venue| %>
<div class="venue-card" data-id="<%= venue.id %>">
  <div class="venue-details">
    <h2><%= venue.name  %></h2>
    <p><%= venue.address %></p>
    <h6><%= venue.category %></h6>
    <div class="venue-action">
      <% if @trip.venues.include?(venue) %>
        <%= link_to "Remove", trip_venue_path(venue, params: {trip_id: @trip.id}), method: :delete, remote: true, class: 'remove-venue' %>
      <% else %>
        <%= link_to "+", trip_venues_path(params: {trip_id: @trip.id, venue_id: venue.id}), method: :post, remote: true, class: 'add-venue' %>
      <% end %>
    </div>
  </div>
  <% if venue.photos.attached? %>
    <% venue.photos.each do |photo| %>
      <%= cl_image_tag photo.key %>
    <% end %>
  <% else %>
    <%= image_tag('venue-img.jpg') %>
  <% end %>
</div>
<% end %>

