
<div class="map-container" id="custom-view">
  <!-- ICONS -->
  <div class="icon-sidebar">
    <a class="" href="/" data-value=""><i class="fa fa-home"></i></a>
    <a class="filter-btn" href="#" data-value=""><i class="fa fa-facebook"></i></a>
    <a class="filter-btn" href="#" data-value="parc"><i class="fas fa-hiking"></i></a>
    <a class="filter-btn" href="#" data-value="monument"><i class="fas fa-archway"></i></a>
    <a class="filter-btn" href="#" data-value="plage"><i class="fas fa-umbrella-beach"></i></a>
  </div>
  <div class="container">
    <%= simple_form_for :filter, url: custom_trip_path, method: :get, remote: true do |f|%>
      <%= f.input :query %>
      <%= f.submit 'submit', id: 'submit-filter' %>
    <% end %>
  </div>
  <!-- MAP -->
  <div id="map"
       style="width: 100%; height: 100vh;"
       data-venue-markers="<%= @venue_markers.to_json %>"
       data-trip-marker="<%= @trip_marker.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <!-- VENUES -->
  <div class="venues-list">
    <%= render 'venues_list', venues: @venues %>
  </div>

<!-- BLUR -->
<!--   <div class="blur"></div>
</div> -->

