<h1>Edit Trip</h1>

<div class= "container">
  <div class="row">
    <div class="col-6 offset-3">
        <%= simple_form_for(@trip) do |f| %>
          <%= f.input :name %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
