
<!-- SIDE IMAGE -->
<!--   <div class="side-trip-image">
    <img src="https://images.unsplash.com/photo-1513124146973-b7538cd925bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Cliff photo">
  </div> -->

  <!-- PAGE CONTENT -->
  <div class="trip">

    <!-- TRIP MAP -->
    <div class="trip-content">
      <div class="trip-info">
        <%= simple_form_for @trip do |f| %>
        <%= f.input :name, placeholder: 'ex. Roadtrip', label: 'Donnez un nom à votre trip' %>
        <%= f.input :start_date, label: 'Date de départ', as: :string, input_html: { class: 'datepicker' } %>
        <%= f.input :end_date, label: 'Date de retour', as: :string, input_html: { class: 'datepicker' } %>
        <%#= f.input :users, label: 'Inviter vos buddies', collection: User.all.pluck(:name), as: :check_boxes, input_html: { multiple: true } %>
        <%= f.input :inviter, label: 'Invitez vos buddies', collection: User.all.reject { |u| u == current_user }, input_html: { class: 'js-example-basic-multiple', name: 'users[]', multiple: 'multiple' } %>
        <%#= f.submit "Sauvegarder", class: "save-trip-btn" %>
        <!-- <button class="nav_button"> -->
          <div class="w-100 d-flex justify-content-between p-2">
           <%= link_to "Retour", custom_trip_path(@trip), class: "trip-action" %>

           <%= f.submit "Sauvegarder", class: 'nav_button' %>
           <!-- </button> -->
           <% end %>

         </div>

       </div>
<!--       <div class="trip-action">
 -->       <!--  <p> --><%#= link_to "Abandonner",
                trip_path(@trip),
                method: :delete,
                data: { confirm: "Are you sure?" } %><!-- </p> -->
<!--           <p><%#= link_to "Edit #{@trip.name}", edit_trip_path(@trip) %></p>
-->


<!-- </div> -->
</div>

<div class="trip-summary">

  <div class="trip-map">
    <div id="map-show"
    data-itinerary="true"
    style="width: 50vw; height: 100vh;"
    data-venue-markers="<%= @venue_markers.to_json %>"
    data-trip-marker="<%= @trip_marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>
</div>

<div class="trip-venues-list">
  <div class="trip-cards-scroll">
    <%= render 'trip_venues_list', trip: @trip %>
  </div>
</div>


