<div class="chat-wrapper" style="background-image: url('https://images.unsplash.com/photo-1580335389496-ec9a04132ee6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80');">

  <div class="chatroom-container">

    <h2>Chatroom #<%= @chatroom.trip.name %></h2>

    <div class="chat-participants">
      <% @chatroom.trip.users.each do |user| %>
        <!-- <h6><%#= user.name %></h6> -->
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key %>
        <% end %>
      <% end %>
    </div>


    <div class="message-card">
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>

    </div>

    <div class="message-action">
      <%= simple_form_for [ @chatroom, @message ], class: "form-inline", remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Commencez la discussion de votre trip ðŸ„" %>
        <%= f.submit 'Envoyer', class: 'nav_button' %>
      <% end %>
    </div>

  </div>
</div>
