<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559335823-e27122e727a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2862&q=80);">
  <div class="container">
    <h1>Évadez-vous à moins de 100km !</h1>
    <p>Cet été, revalorisez les régions Françaises 🇫🇷</p>
    <div class="row">
      <div class="col-8">
        <%= simple_form_for @trip do |f| %>
          <div class="row">
            <div class="col-6">
              <%= f.input :address, placeholder: "Entrez votre adresse", label: false %>
            </div>
            <div class="col-2">
              <%= f.input :radius, placeholder: "Radius", label: false %>
            </div>
            <div class="col-4">
              <%= f.submit "Create Trip", class: "btn nav_button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="bloc1">
  <%= image_tag("image1.jpg") %>
  <div>
    <h2> Lorem ipsum dolor sit amet.</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur, tellus id fringilla dignissim, diam ligula tincidunt nunc, at posuere erat mauris id odio. Quisque auctor facilisis aliquet. Integer tellus lacus, ultricies ut bibendum eget, gravida eu diam. Cras dictum id libero vel tincidunt. Vestibulum sollicitudin sagittis orci, in porta purus. Etiam eleifend egestas magna vitae consectetur. Nulla blandit lacinia auctor. Donec fermentum leo vitae nibh euismod, sed porta dolor malesuada. Integer a lacus ac ante dapibus sollicitudin.</p>
  </div>
</div>

<div class="bloc2">
  <div>
    <h2> Lorem ipsum dolor sit amet.</h2>
    <p> Test</p>
  </div>
  <%= image_tag("image1.jpg") %>
  <%= image_tag("image1.jpg") %>
</div>
