<!-- My profile general container -->
<div class="container-profile">

  <div class="profile-card row">
    <div class="profile-avatar col-md-6">
      <%= cl_image_tag current_user.photo.key, class: "profile-card-img" %>
    </div>

    <div class="col-md-6">
      <div class="profile-details">

        <div class="profile-name">
          <h1><%= @user.name %></h1>
          <p><%= @user.bio %></p>
        </div>

        <div class="interests">
          <p><%= @user.interests %></p>
          <a href="#"><i class="fas fa-hiking"></i></a>
          <a href="#"><i class="fas fa-binoculars"></i></a>
          <a href="#"><i class="fas fa-umbrella-beach"></i></a>
          <a href="#"><i class="fas fa-bicycle"></i></a>
          <a href="#"><i class="fas fa-archway"></i></a>
          <a href="#"><i class="fas fa-tree"></i></a>
          <a href="#"><i class="  fas fa-ellipsis-h"></i></a>
        </div>

        <%= link_to "Modifier mon profil", edit_user_registration_path, class: "nav_bttn" %>
        <%#= link_to chatroom_path(@chatroom), class: "fas fa-enveloppe" %>
      </div>
    </div>
  </div>


  <div class="socials-card">
      <a href="#"><i class="fab fa-github-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
  </div>

<div class="roadtrips-card">
      <h3>Mes voyages</h3>
      <ul class="list-inline">
        <li>
          <div class="col-md-6">
            <div class="past-trips-card">
            <h4>Mes anciens trips</h4>
              <% @trips.each do |trip| %>
                <p>Name: <%= link_to trip.name, trip_path(trip.id) %>
                Start: <%= trip.start_date %>
                End: <%= trip.end_date %></p>
              <% end %>
            </div>
          </div>
        </li>
        <li>
          <div class="new-trips-card">
          <h4>Mes futures trips</h4>
            <% @trips.each do |trip| %>
              <p>Name: <%= link_to trip.name, trip_path(trip) %>
              Start: <%= trip.start_date %>
              End: <%= trip.end_date %></p>
              <%= link_to "Ouvrir chatroom", chatroom_path(trip.chatroom), class: "nav_button" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
