<!-- My profile general container -->
<div class="profile-wrapper row mr-0 mb-0 ml-0 w-100">

  <div class="socials-card">
      <a href="#"><i class="fab fa-github-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
  </div>

  <div class="col-md-4 p-4">
    <!-- <h5>Mon Profil</h5> -->

      <div class="profile-card p-5">
        <div class="profile-avatar">
          <%= cl_image_tag current_user.photo.key, class: "profile-card-img" %>
        </div>

        <div class="">
          <div class="profile-details">

            <div class="profile-name">
              <h1><%= @user.name %></h1>
              <h6><%= @user.bio %></h6>
            </div>

            <div class="interests">
            <!-- <h6><%#= @user.interests %></h6> -->
              <a href="#"><i class="fas fa-hiking"></i></a>
              <a href="#"><i class="fas fa-umbrella-beach"></i></a>
              <a href="#"><i class="fas fa-bicycle"></i></a>
              <a href="#"><i class="fas fa-archway"></i></a>
              <a href="#"><i class="fas fa-tree"></i></a>
            </div>

            <div class="profile-action">
              <%= link_to "Modifier mon profil", edit_user_registration_path %>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-8 p-4">
    <h5>Mes Voyages</h5>
      <div class="roadtrips-card p-5">

      <div class="bubble-chatroom">
        <% @trips.each do |trip| %>
          <%= link_to chatroom_path(trip.chatroom) do %>
            <i class="far fa-comments"></i>
          <% end %>
        <% end %>
      </div>


      <div class="my-trips-card">
          <% @trips.each do |trip| %>
            <div class="my-trip-details"></div>
            Name: <%= link_to trip.name, trip_path(trip) %>
            Start: <%= trip.start_date %>
            End: <%= trip.end_date %>
              <div class="bubble-chatroom">
                <% @trips.each do |trip| %>
                <%= link_to chatroom_path(trip.chatroom) do %>
                <i class="far fa-comments"></i>
                <% end %>
              <% end %>
              </div>
                <div class="buddies">
              <% trip.users.each do |user| %>
            Buddies: <%= user.email %>
            <% if user.photo.attached? %>
            <%= cl_image_tag user.photo.key %>
            <% end %>
            <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





