<!-- My profile general container -->

<div class="container">

  <div class="profile-card row">

    <div class="col-md-6">
      <%= cl_image_tag current_user.photo.key, class: "profile-card-img" %>
    </div>

    <div class="col-md-6">
      <div class="profile-details">

        <div class="profile-name">
          <h1><%= @user.name %></h1>
          <%= @user.bio %>
        </div>

        <div class="interests">
          <h2>Centres d'intérêt</h2>
          <%= @user.interests %>
        </div>

        <div class="icon-profile">
          <a href="#"><i class="fas fa-hiking"></i></a>
          <a href="#"><i class="fas fa-binoculars"></i></a>
          <a href="#"><i class="fas fa-umbrella-beach"></i></a>
          <a href="#"><i class="fas fa-bicycle"></i></a>
          <a href="#"><i class="fas fa-archway"></i></a>
          <a href="#"><i class="fas fa-tree"></i></a>
          <a href="#"><i class="  fas fa-ellipsis-h"></i></a>
        </div>

        <div class="socials">
          <h2>Social medias</h2>
        </div>

        <p><%= link_to "Edite ton profile", edit_user_registration_path %></p>

      </div>
    </div>

  </div>
  <div class="roadtrips-card row">

    <div class="col-md-6">
      <h1>Roadtrips</h1>
      <div class="new-trips-card">

        <h2>Mes futures</h2>
        <% @trips.each do |trip| %>
        <p>Name: <%= link_to trip.name, trip_path(trip.id) %>
          Start: <%= trip.start_date %>
          End: <%= trip.end_date %></p>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
       <div class="past-trips-card">
        <h2>Mes ex</h2>
        <% @trips.each do |trip| %>
        <p>Name: <%= link_to trip.name, trip_path(trip.id) %>
          Start: <%= trip.start_date %>
          End: <%= trip.end_date %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

