<div class="container mt-5 pt-5">
  <div class="row py-3 position-relative">
    <div class="col-12">

      <%# Title section %>
      <h1 class="py-3"><%= @venue.name %></h1>
    <%# Banner with user pix %>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active showcase">
            <%= cl_image_tag @venue.photos.first.key, class: "showcase-image d-block" %>
          </div>
          <div class="carousel-item showcase">
            <%= cl_image_tag @venue.photos.first.key, class: "showcase-image d-block" %>
          </div>
          <div class="carousel-item showcase">
            <%= cl_image_tag @venue.photos.first.key, class: "showcase-image d-block" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>


    <!-- insert map console on the left -->
    <div class="map-window">
      <div class="card-map">
        <div id="map" class="mb-5"
          style="width: 100%; height: 300px;"
          data-show-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>

  <%# User description section %>
  <div class="row py-3">
    <div class="col-12">
      <div class="venue-details">
        <h4>Details</h4>
        <p><strong>Category : </strong> <%= @venue.category %></p>
        <p>Situé à à peu près 30km de Marseille, Cassis (prononcé « Cassi ») est célèbre pour ses falaises et calanques, mais aussi pour les vins de Cassis (rosé et blanc). Quoi de plus agréable que de siroter un rosé bien frais avec une vue à couper le souffle!</p>
        <!-- <p><strong>Category : </strong> <%#= @venue.description %></p> -->
      </div>
    </div>
  </div>




  <div class="row py-3">
    <div class="col-6">
      <div class="list-group">
        <% @venue.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.comment %></p>
          </li>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <%= simple_form_for [@venue, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :comment%>
        <%= f.submit class: 'nav_button' %>
      <% end %>
    </div>
  </div>
</div>







